body {
    background-color: #0b2027;
    padding-bottom: 200px;
}

.wordleContainer {
    /* display: flex;
    justify-content: center;
    align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .guessContainer {
    margin-top: 10px;
} */

.guess {
    display: grid;
    grid-template-columns: repeat(5, 55px);
    justify-content: space-between;
    grid-gap: 25px;
    margin-top: 10px;
}

.box{
    border: 3px solid #cfd7c7;
    background-color: #cfd7c7;
    border-radius: 20px;
    height: 50px;
    box-shadow: 1px 2px 6px #302e34;
    /* box-shadow: 0px 1px 5px rgba(173, 170, 170, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #0b2027;
    /* animation: horizontal-shaking 0.35s 5;
    -webkit-animation: horizontal-shaking 0.35s 5; */
}

.shakeAnimation {
    animation: horizontal-shaking 0.35s 5;
    -webkit-animation: horizontal-shaking 0.35s 5;
}

.hidden {
    visibility: hidden;
}


@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

@-webkit-keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.gameTitle {
    color: #cfd7c7;
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.gameTitle  span {
    color: #F3B95F;
    display:inline-block;
    animation: bounce 5s ease infinite;
    -webkit-animation: bounce 5s ease infinite;
}

.seeGameRules {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #cfd7c7;
    text-decoration: underline;
    cursor: pointer;
}

@keyframes bounce { 
    0% {transform: translateY(0);} 
    5% {transform: translateY(-30px);} 
    10% {transform: translateY(0);} 
    15% {transform: translateY(-15px);} 
    20% {transform: translateY(10px);} 
    25% {transform: translateY(0);} 
 }

 @-webkit-keyframes bounce { 

    0% {-webkit-transform: translateY(0);} 
    5% {-webkit-transform: translateY(-30px);} 
    10% {-webkit-transform: translateY(0);} 
    15% {-webkit-transform: translateY(-15px);} 
    20% {-webkit-transform: translateY(10px);} 
    25% {-webkit-transform: translateY(0);} 
 } 
.congratsText {
    color: #cfd7c7;
    font-size: 2rem;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    margin-right: 20px;
}

.initialLoad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letsPlayText {
    color: #cfd7c7;
    margin-top: 100px;
    font-size: 3rem;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: typewriter 2s steps(30, end);
}

@keyframes typewriter {
    0% {width: 0;}
    100% {width: 100%;}
  }

@keyframes type {
    0% { width: 0;}
    1% {opacity: 1; visibility: visible; }
    100% { width: 100%; opacity: 1; }
}

.playGameButton {
    font-family: "Cedarville Cursive", cursive;
    font-size: 2rem;
    color: #0b2027;
    padding: 10px;
    background-color: #cfd7c7;
    border-radius: 25px;
    margin: 5px;
    cursor: pointer;
    transition: opacity 1s;
}

.playGameButton:hover {
    opacity: .6;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr
}

@media screen and (max-width: 600px) {
    .buttonContainer {
        display: grid;
        grid-template-columns: 1fr
    }
}