body {
    background-color: #0b2027;
    padding-bottom: 200px;
}

.wordleContainer {
    /* display: flex;
    justify-content: center;
    align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .guessContainer {
    margin-top: 10px;
} */

.guess {
    display: grid;
    grid-template-columns: repeat(5, 55px);
    justify-content: space-between;
    grid-gap: 25px;
    margin-top: 10px;
}

.box{
    border: 3px solid #cfd7c7;
    background-color: #cfd7c7;
    border-radius: 20px;
    height: 50px;
    box-shadow: 1px 2px 6px #302e34;
    /* box-shadow: 0px 1px 5px rgba(173, 170, 170, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #0b2027;
    /* animation: horizontal-shaking 0.35s 5;
    -webkit-animation: horizontal-shaking 0.35s 5; */
}

.shakeAnimation {
    animation: horizontal-shaking 0.35s 5;
    -webkit-animation: horizontal-shaking 0.35s 5;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

@-webkit-keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.gameTitle {
    color: #cfd7c7;
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;
}