body {
    background-color: #0b2027;
}

.wordleContainer {
    /* display: flex;
    justify-content: center;
    align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.guessContainer {
    margin-top: 50px;
}

.guess {
    display: grid;
    grid-template-columns: repeat(5, 55px);
    justify-content: space-between;
    grid-gap: 25px;
    margin-top: 10px;
}

.box{
    border: 3px solid #cfd7c7;
    background-color: #cfd7c7;
    border-radius: 20px;
    height: 50px;
    box-shadow: 1px 2px 6px #302e34;
    /* box-shadow: 0px 1px 5px rgba(173, 170, 170, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
}